rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /enquiries/{enquiryId} {

      allow create: if
        request.resource.data['name'] is string &&
        request.resource.data['email'] is string &&
        request.resource.data['phone'] is string &&
        request.resource.data['service'] is string &&
        request.resource.data['message'] is string &&
        request.resource.data['status'] == 'New';

      allow read, delete: if request.auth != null;

      allow update: if false;
    }
  }
}
